Source: efilinux
Section: utils
Priority: optional
Maintainer: Daniel Baumann <daniel.baumann@progress-technologies.net>
Build-Depends: debhelper (>= 9), gnu-efi
Standards-Version: 3.9.4
Vcs-Git: git://github.com/prachpub/efilinux.git
Vcs-Browser: https://github.com/prachpub/efilinux.git
Homepage: https://github.com/mfleming/efilinux

Package: efilinux
Architecture: amd64 i386
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: UEFI bootloader
 efilinux is a simple UEFI bootloader.
