Source: efilinux
Section: utils
Priority: optional
Maintainer: Prach Pongpanich <prachpub@gmail.com>
Build-Depends: debhelper (>= 9), gnu-efi
Standards-Version: 3.9.4
Vcs-Git: git://github.com/prachpub/efilinux.git
Vcs-Browser: https://github.com/prachpub/efilinux.git
Homepage: https://github.com/mfleming/efilinux

Package: efilinux
Architecture: amd64 i386
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: UEFI bootloader
 efilinux is a UEFI bootloader. It was created as a reference
 implementation with the aim of being well documented and containing
 well written source code.
 .
 There is no config syntax as such. A config file is a one-line file
 that contains command line parameters.

